@import url(http://fonts.googleapis.com/css?family=Yellowtail);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * OWN STYLES FROM NOW ON
 */
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5px;
}

.container {
    box-sizing: border-box;
    font-size: 1.6em;
    margin: 0 auto;
    max-width: 40em; /* 640px */
    padding: 1.875em;
}

.title {
    font-family: 'Yellowtail', cursive;
    font-size: 6.25em; /* 50px */
    margin: 0 auto 0.4em;
    text-align: center;
    text-transform: lowercase;
}

.title .io {
    color: #00D652;
}

.table-title {
    background: #000;
    color: #00D652;
    display: inline-block;
    font-size: 1.875em; /* 30px */
    margin-bottom: .666666667em;
    padding: .166666667em;
}

.times {
    border: 1px solid #ccc;
    border-collapse: collapse;
    display: block;
    font-size: 1.5em;
    margin: 0 auto 3.333333334em;
    width: 100%;
}

.times thead tr th {
    background: #ccc;
    color: #555;
    text-align: left;
    text-shadow: 0 1px 0 #fff;
}

.times th,
.times td {
    padding: 0.625em;
    border: 1px solid #ccc;
}

.times td .day-of-week {
    color: #666;
    /*font-size: 0.666666667em;*/
    text-transform: lowercase;
}

.reservation-links {
    font-size: 1.875em;
}

.reservation-links li {
    text-align: center;
    margin-bottom: .833333333em;
}

.reservation-links li a {
    color: #00D652;
    text-decoration: none;
}

@media screen and (min-width: 640px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.5em;
    }

    .container {
        max-width: 87.5em;
    }
}


























